<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="" routerLink="/">EnergyWars</a>
  <span>Активный игровой контракт
    <a target="_blank" href="https://ropsten.etherscan.io/address/{{address}}">{{address}}</a>
    <br>
    Ссылка на игру: <input type="text" style="width: 650px" readonly [value]="gameLink">
  </span>
  <div class="" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="" routerLink="/">Exit<span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
