<div class="container">
  <div class="row">
    <div class="col-12 pt-3">

      <h1>Energy Wars</h1>

      <div *ngFor="let player of data?.players; let i = index"
      [ngClass]="{
      playerMeta: true,
      active: i === 2
      }">
          <h5>
            <i class="fas ft-flag player{{ i+1 }}Color"></i>
            Игрок
            <sup class="text-muted small" *ngIf="web3.getCurrentAddress().toLowerCase() === player.playerAddress.toLowerCase()">(это Вы)</sup>
          </h5>
        <p class="address">
          {{player.playerAddress}}
        </p>
        <h4 class="float-right"><i class="fa fa-fire"></i> {{ player.energy }}</h4>
      </div>
      <!--<p><strong>Your Energy:</strong> {{ requestService.player.energy }}</p>-->
      <!--<p><strong>Player2 Energy:</strong> {{ requestService.player2.energy }}</p>-->
      <!--<p><strong>Player3 Energy:</strong> {{ requestService.player3.energy }}</p>-->

      <p>{{getStateDescription()}}</p>

      <div id="map">
        <div
             *ngFor="let cell of map"
             [ngStyle]="{background: 'rgba(81,121,183,' + cell.value + ')'}"
             (click)="movePlayer(cell.r,cell.c)"
             [ngClass]="{
               cell: true,
               playerHere: isPlayerHere(cell.c, cell.r),
               player2Here: isPlayer2Here(cell.c, cell.r),
               player3Here: isPlayer3Here(cell.c, cell.r)
             }"
        >
          {{ cell.value }}
        </div>
      </div>

    </div>
  </div>
</div>
