<div class="container">
  <div class="row">
    <div class="col-12 pt-3">

      <h1 class="text-center">Energy Wars</h1>
      <div class="gameData">
        <p>
          Current game contract: <a target="_blank" href="https://ropsten.etherscan.io/address/{{address}}">{{address}}</a>
          <br>
          Game link: <input type="text" style="width: 650px" readonly [value]="gameLink" class="">
        </p>
      </div>
      <div *ngFor="let player of players; let i = index"
        [ngClass]="{
        playerMeta: true,
        active: i === idxCurrentPlayerTurn
        }">
          <h5>
            <i class="fas ft-flag player{{ i+1 }}Color"></i>
            Player
            <sup class="text-muted small" *ngIf="web3.getCurrentAddress().toLowerCase() === player.playerAddress.toLowerCase()">(You)</sup>
          </h5>
        <p class="address">
          {{player.playerAddress}}
        </p>
        <h4 class="float-right"><i class="fa fa-fire"></i> {{ player.energy }}</h4>
      </div>
      <!--<p><strong>Your Energy:</strong> {{ requestService.player.energy }}</p>-->
      <!--<p><strong>Player2 Energy:</strong> {{ requestService.player2.energy }}</p>-->
      <!--<p><strong>Player3 Energy:</strong> {{ requestService.player3.energy }}</p>-->

      <div class="text-center mt-3">
        <p>{{getStateDescription()}} <span *ngIf="!isMineTurn() && winner.playerAddress !== ''">Player {{ idxCurrentPlayerTurn+1 }} is turn.</span></p>
        <div class="alertBox" *ngIf="isMineTurn() && winner.playerAddress == ''">
          <h3 class="p-0 m-0">
            Your turn!
          </h3>
        </div>

        <div class="alertBox" *ngIf="winner.playerAddress !== ''">
          <h3 class="p-0 m-0">
            The Game is over!
          </h3>
          <p class="p-0 m-0">
            Player {{ winner.playerAddress }} WIN!
          </p>
        </div>
      </div>

      <div id="map">
        <div
             *ngFor="let cell of map"
             [ngStyle]="{background: 'rgba(81,121,183,' + cell.value + ')'}"
             (click)="movePlayer(cell.c,cell.r)"
             [ngClass]="{
               cell: true,
               highlight: isHighlightedCell(cell.c, cell.r),
               playerHere: isPlayerHere(cell.c, cell.r),
               player2Here: isPlayer2Here(cell.c, cell.r),
               player3Here: isPlayer3Here(cell.c, cell.r)
             }"
        >
          {{ cell.value }}
        </div>
      </div>

    </div>
  </div>
</div>
