#map {

  .cell.playerHere{
    background: #ff470c !important;
  }

  .cell.player2Here{
    background: #00bf25 !important;
  }

  .cell.player3Here{
    background: #0016ff !important;
  }

  .cell {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 3px 10px;
    width: 3.3%;
    height: 3.3%;
    transition: all ease 200ms;
    font-size: 8px;
  }



  .cell:hover {
    cursor: pointer;
    filter: brightness(200%);
  }


}
