<div class="container">
  <div class="row">
    <div class="col-12 pt-3">

      <h1 class="text-center">Energy Wars</h1>
      <div class="gameData">
        <p>
          Игровой контракт: <a target="_blank" href="https://ropsten.etherscan.io/address/{{address}}">{{address}}</a>
          <br>
          Ссылка на игру: <input type="text" style="width: 650px" readonly [value]="gameLink" class="">
        </p>
      </div>
      <div>
        <a style="font-size: 22px;color: orange" href="" onclick="return false" *ngIf="!showRules" (click)="showRules=true">Показать правила</a>
        <a style="font-size: 22px;color: orange"  href="" onclick="return false" *ngIf="showRules" (click)="showRules=false">Скрыть правила</a>
        <div *ngIf="showRules">
          <p>Игрок ходит в 8 направлениях максимум на 5 клеток, каждый ход требует энергии</p>
          <ul>
            <li>ход на 1 клетку  0% от текущего запаса энергии</li>
            <li>ход на 2 клетки  2% от текущего запаса энергии</li>
            <li>ход на 3 клетки  7% от текущего запаса энергии</li>
            <li>ход на 4 клетки  18% от текущего запаса энергии</li>
            <li>ход на 5 клеток  33% от текущего запаса энергии</li>
          </ul>

          <p>          При каждом ходе игрок получает 100 энергии + вероятность получить ещё 1000.
            Вероятность получить доп. энергию зависит от ячейки поля на которую сходил игрок.
            Минимальная вероятность 10%.
            После сбора ячейки с повышенной вероятностью, вероятность ячейки становится равна 10%.</p>

<p>На поле случайным образом появляется бонус который позволяет поглотить от 20 до 70% от энергии
  противника (противник выбирается нажатием на <i class="target fa fa-crosshairs mr-3"></i>).</p>

<p>          Можно атаковать противника сходив в ячейку где он находится. В этом случае побеждает тот игрок,
  у котого больше энергии. Энергия проигравщей стороны становится равна 0, у победителя отнимается
  20% от энерии проигравшего (плата за атаку).</p>

        </div>
      </div>
      <div *ngFor="let player of players; let i = index"
        [ngClass]="{
        playerMeta: true,
        active: i === idxCurrentPlayerTurn
        }">
          <h5>
            <i class="fas ft-flag player{{ i+1 }}Color"></i>
            Игрок {{ i+1 }}
            <sup class="text-muted small" *ngIf="web3.getCurrentAddress().toLowerCase() === player.playerAddress.toLowerCase()">(Это вы)</sup>
          </h5>
        <p class="address">
          {{player.playerAddress}}
        </p>
        <h4 class="float-right">
          <i
             [ngClass]="{
             'target fa fa-crosshairs mr-3' : true,
             active: target == i
             }"
             (click)="setTarget(i)"
          ></i>
          <i class="fa fa-fire"></i>
          {{ player.energy }}
        </h4>
      </div>
      <!--<p><strong>Your Energy:</strong> {{ requestService.player.energy }}</p>-->
      <!--<p><strong>Player2 Energy:</strong> {{ requestService.player2.energy }}</p>-->
      <!--<p><strong>Player3 Energy:</strong> {{ requestService.player3.energy }}</p>-->

      <div class="text-center mt-3">
        <p>{{getStateDescription()}} <span *ngIf="!isMineTurn() && winner.playerAddress !== ''">Игрок {{ idxCurrentPlayerTurn+1 }} делает ход.</span></p>
        <div class="alertBox" *ngIf="isMineTurn() && winner.playerAddress == ''">
          <h3 class="p-0 m-0">
            Ваш ход!
          </h3>
        </div>

        <div class="alertBox" *ngIf="winner.playerAddress">
          <h3 class="p-0 m-0">
            Игра завершена!
          </h3>
          <p class="p-0 m-0">
            Игрок {{ winner.playerAddress }} победил!
          </p>
        </div>
      </div>

      <div class="text-center mt-3">{{tipForPlayer}}</div>

      <div id="map">
        <div
             *ngFor="let cell of map"
             [ngStyle]="{background: 'rgba(81,121,183,' + cell.value + ')'}"
             (click)="movePlayer(cell.c,cell.r)"
             (mouseenter)="generateTipOnHover(cell.c,cell.r)"
             [ngClass]="{
               cell: true,
               highlight: isHighlightedCell(cell.c, cell.r),
               playerHere: isPlayerHere(cell.c, cell.r),
               player2Here: isPlayer2Here(cell.c, cell.r),
               player3Here: isPlayer3Here(cell.c, cell.r),
               bonusHere: isBonusHere(cell.c, cell.r)
             }"
        >
          {{ cell.value }}
          <!--{{ cell.c }} <br>-->
          <!--{{ cell.r }}-->
        </div>
      </div>

    </div>
  </div>
</div>
