#map {

  .cell.playerHere{
    background: #ff470c80 !important;
  }

  .cell.player2Here{
    background: #00bf2580 !important;
  }

  .cell.player3Here{
    background: #0016ff80 !important;
  }

  .highlight
  {
    background: #ffff0060 !important;
  }

  .cell {
    border: 1px solid #222;
    padding: 3px 10px;
    width: 3.3%;
    height: 3.3%;
    transition: all ease 200ms;
    font-size: 8px;
    display: inline-block;
  }



  .cell:hover {
    cursor: pointer;
    filter: brightness(400%);
  }


}

.playerMeta {
  display: inline-block;
  margin: 10px;
  background: #1c1e29;
  padding: 15px 20px;
  -webkit-box-shadow: inset 0px 0px 151px 0px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 151px 0px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 151px 0px rgba(0,0,0,1);

  .address {
    font-size: 12px;
    font-family: monospace;
  }

  .small {
    font-size: 12px;
  }

  .player1Color{
    color: #ff470c !important;
  }

  .player2Color{
    color: #00bf25 !important;
  }

  .player3Color{
    color: #0016ff !important;
  }

}

.playerMeta.active {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(250,250,250,0.42);
  -moz-box-shadow: 0px 0px 14px 0px rgba(250,250,250,0.42);
  box-shadow: 0px 0px 14px 0px rgba(250,250,250,0.42);
}

.alertBox {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255,234,0,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255,234,0,1);
  box-shadow: 0px 0px 5px 0px rgba(255,234,0,1);
  padding: 10px 20px;
  background: #ffa000a1;
  display: inline-block;
}
